*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.App{
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif,'Segoe UI', Tahoma, Verdana, sans-serif;
  background: #ee9ca7;  
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  
  background: linear-gradient(to right, #ffdde1, #ee9ca7);  
}
.hook1{
  width: 100%;
  height: 10%;
  font-size: 2.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
 button{
  padding: 1rem;
  font-size: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  border: 0px;
}
 span{
  /* margin-left: 1rem; */
  padding: 1rem;
  background-color: plum;
  border-radius: 1rem;
}
